<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- include fancybox css -->
    <link rel="stylesheet" href="/fancybox/dist/jquery.fancybox.min.css">

    <!-- include bootstrap -->
    <script src="/js/bundle.js"></script>

    <!-- include jquery -->
    <script src="/assets/jquery.min.js"></script>

    <!-- include fancybox js -->
    <script src="/fancybox/dist/jquery.fancybox.min.js"></script>

    <title>Dashboard</title>
  </head>
  <body>
    <div class="ajaxbg">
      <div class="ajaxinner">
        <h3>You are now being redirected to paypal...</h3>
        <img src="/gifs/ajax-loader.gif" alt="">
      </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">CmsShoppingCart</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <% if (pages) { %>
           <% pages.forEach(page => { %>
            <li class="nav-item">
              <% if (page.slug === 'home') { %>
                <a class="nav-link" href="/"><%= page.title %> </a>
              <% } else { %>
                <a class="nav-link" href="<%= page.slug %>"><%= page.title %> </a>
              <% } %>
            </li>
           <% }) %>
          <% } %>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/cart/checkout">My Cart (
              <% if (cart) { %>
               <%= cart.length %> 
              <% } else { %>
               0
              <% } %>
            )</a>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>  

    <div class="container">
      <%- messages('messages', locals) %>

      <div class="row mt-4">
        <div class="col-xs-12 col-md-3">
          <h3 class="mb-3">Categories</h3>
          <ul class="list-group">
            <li class="list-group-item"><a href="/products">All products</a></li>
            <% if (categories) { %>
              <% categories.forEach(c => { %>
                <li class="list-group-item"><a href="/products/<%= c.slug %> "><%= c.title %> </a></li>
              <% }) %>
             <% } %>
          </ul>
        </div>
        <div class="col-xs-12 col-md-1"></div>
        <div class="col-xs-12 col-md-8">